* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}
button {
  padding: 10px 30px 10px ;
  margin-left: 40rem;
  background-color: brown;
  font-size: large;
  color: white;
  position: relative;
}
